body{
    color:white;
    background:black;
    margin: 0px;
}

header{
     border-bottom: solid 2px rgb(30, 94, 233);
     padding: 20px; 
     font-size: 32px;
     color: rgb(30, 101, 233);
}

section {
    background: rgb(55, 0, 255);
    padding-bottom: 80px;
    padding-top: 80px;